<div class="wrapper">
  @if (appState.user) {
    <ul>
      <!--<li [routerLink]="'/intern/overview'" [routerLinkActive]="'active'">Übersicht</li>-->
      @if (appState.user.corpsId) {
        <li [routerLink]="'/intern/reports'" [routerLinkActive]="'active'">
          <mat-icon>assignment_add</mat-icon>
          Berichte
        </li>
      }
      <li [routerLink]="'/intern/corps'" [routerLinkActive]="'active'">
        <mat-icon>groups</mat-icon>
        Corps
      </li>
      <li [routerLink]="'/intern/activities'" [routerLinkActive]="'active'">
        <mat-icon>attractions</mat-icon>
        Veranstaltungen
      </li>
      <li [routerLink]="'/intern/fencing'" [routerLinkActive]="'active'">
        <mat-icon>bolt</mat-icon>
        Mensur
      </li>
      <li [routerLink]="'/intern/msc-ball'" [routerLinkActive]="'active'">
        <mat-icon>nightlife</mat-icon>
        MSC-Ball
      </li>
      <li class="divider"></li>
      <li [routerLink]="'/intern/judges'" [routerLinkActive]="'active'">
        <mat-icon>gavel</mat-icon>
        Ehrenrichter
      </li>
      <li [routerLink]="'/intern/documents'" [routerLinkActive]="'active'">
        <mat-icon>archive</mat-icon>
        Dokumente
      </li>
      @if (appState.user.isAdmin || appState.user.isSuperAdmin) {
        <li class="divider"></li>
        <li [routerLink]="'/intern/administration'" [routerLinkActive]="'active'">
          <mat-icon>logout</mat-icon>
          Verwaltung
        </li>
      }
    </ul>

    <ul>
      <!--<li [routerLink]="'/intern/settings'" [routerLinkActive]="'active'">Einstellungen</li>-->
      <li (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </li>
    </ul>
  }
</div>
