<div class="wrapper">
  <ul>
    <!--<li [routerLink]="'/intern/overview'" [routerLinkActive]="'active'">Übersicht</li>-->
    <li [routerLink]="'/intern/corps'" [routerLinkActive]="'active'">Corps</li>
    <li [routerLink]="'/intern/reports'" [routerLinkActive]="'active'">Berichte</li>
    <!--<li [routerLink]="'/intern/msc-ball'" [routerLinkActive]="'active'">MSC-Ball</li>-->
    @if(isInCharge()) {
      <!--<li [routerLink]="'/intern/activities'" [routerLinkActive]="'active'">Veranstaltungen</li>-->
      <li [routerLink]="'/intern/administration'" [routerLinkActive]="'active'">Verwaltung</li>
    }
  </ul>

  <ul>
    <!--<li [routerLink]="'/intern/settings'" [routerLinkActive]="'active'">Einstellungen</li>-->
    <li (click)="logout()">Logout</li>
  </ul>
</div>
