.container {
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.12), 0 0 10px 0 rgba(0, 0, 0, 0.14);
  padding: 20px;
}


::ng-deep {
  .mat-mdc-tab-body, .mat-mdc-tab-body-content {
    overflow: visible !important;
  }
}


.corps-list__entry {
  display: grid;
  height: 35px;
  align-items: center;
  grid-template-columns: 150px 1fr 1fr 250px;
  grid-gap: 25px;
  margin: 12.5px;

  ::ng-deep {
    .mat-icon {
      margin: 0 !important;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .corps-list__actions {
    text-align: center;
  }
}
