<h1>Verwaltung</h1>

<div class="container">
  <mat-tab-group>
    <mat-tab label="Semester">

      <h5>Aktuelles Semester</h5>
      @if (currentSemester) {
        <ng-container *ngTemplateOutlet="semesterTemplate; context: {semester: currentSemester}"></ng-container>
      }

      <h5>Nächstes Semester</h5>
      @if (nextSemester) {
        <ng-container *ngTemplateOutlet="semesterTemplate; context: {semester: nextSemester}"></ng-container>
      } @else {
        <a mat-stroked-button (click)="createSemester()">
          <mat-icon>add</mat-icon>
          Neues Semester anlegen
        </a>
      }

      <h5>Vergangenes Semester</h5>
      @for (semester of pastSemester; track semester._id) {
        <ng-container
          *ngTemplateOutlet="semesterTemplate; context: {semester: semester, readonly: true}"></ng-container>
      }

    </mat-tab>
    <mat-tab label="Corps">
      <div class="corps-list">
        @for(corps of appState.corpsBase; track corps._id) {
          <ng-container
            *ngTemplateOutlet="corpsListElement; context: {corps: corps, corpsAccount: getCorpsAccount(corps)}"></ng-container>
        }
      </div>

    </mat-tab>
    <mat-tab label="Berichte">
      <mat-tab-body>Test</mat-tab-body>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #semesterTemplate let-semester="semester" let-readonly="readonly">
  <h4>{{ semester.name }}</h4>
  <div class="grid-4">
    <p>Start</p>
      @if (!readonly) {
        <mat-form-field>
          <input matInput [(ngModel)]="semester.start" [disabled]="readonly" [matDatepicker]="pickerStart">
          <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
      } @else {
        <p>{{ semester.start.toLocaleString() }}</p>
      }

    <p>Ende</p>
      @if (!readonly) {
        <mat-form-field>
          <input matInput [(ngModel)]="semester.end" [disabled]="readonly" [matDatepicker]="pickerEnd">
          <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
      } @else {
        <p>{{ semester.start.toLocaleString() }}</p>
      }
  </div>

  <msc-corps-selector [label]="'Präsidierendes Corps'" [(corpsId)]="semester.corpsId"></msc-corps-selector>

  @if (semester.corpsId) {
    <div class="grid-4">
      <h5>SC-Senior</h5>
      <h5>SC-Consenior</h5>
      <h5>SC-Subsenior</h5>
      <h5>SC-Kassenwart</h5>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="semester.senior.name" [disabled]="readonly">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="semester.conSenior.name" [disabled]="readonly">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="semester.subSenior.name" [disabled]="readonly">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="semester.banker.name" [disabled]="readonly">
      </mat-form-field>

      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input matInput [(ngModel)]="semester.senior.email" [disabled]="readonly">
      </mat-form-field>
      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input matInput [(ngModel)]="semester.conSenior.email" [disabled]="readonly">
      </mat-form-field>
      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input matInput [(ngModel)]="semester.subSenior.email" [disabled]="readonly">
      </mat-form-field>
      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input matInput [(ngModel)]="semester.banker.email" [disabled]="readonly">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Telefon</mat-label>
        <input matInput [(ngModel)]="semester.senior.phone" [disabled]="readonly">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Telefon</mat-label>
        <input matInput [(ngModel)]="semester.conSenior.phone" [disabled]="readonly">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Telefon</mat-label>
        <input matInput [(ngModel)]="semester.subSenior.phone" [disabled]="readonly">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Telefon</mat-label>
        <input matInput [(ngModel)]="semester.banker.phone" [disabled]="readonly">
      </mat-form-field>

      <h5 class="grid-column-span-4">Bankverbindung</h5>
      <mat-form-field>
        <mat-label>Bank</mat-label>
        <input matInput [(ngModel)]="semester.banking.name" [disabled]="readonly">
      </mat-form-field>
      <mat-form-field>
        <mat-label>BIC</mat-label>
        <input matInput [(ngModel)]="semester.banking.bic" [disabled]="readonly">
      </mat-form-field>
      <mat-form-field class="grid-column-span-2">
        <mat-label>IBAN</mat-label>
        <input matInput [(ngModel)]="semester.banking.iban" [disabled]="readonly">
      </mat-form-field>

      <h5 class="grid-column-span-4">Ehrenrichter</h5>
      @if (semester.honorableJudges?.length > 0) {
        @for (judge of semester.honorableJudges; track i; let i = $index) {
          <mat-form-field>
            <mat-label>Nachname</mat-label>
            <input matInput [(ngModel)]="semester.honorableJudges[i].lastName" [disabled]="readonly">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Vorname</mat-label>
            <input matInput [(ngModel)]="semester.honorableJudges[i].firstName" [disabled]="readonly">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Telefon</mat-label>
            <input matInput [(ngModel)]="semester.honorableJudges[i].phone" [disabled]="readonly">
          </mat-form-field>
          <mat-form-field>
            <mat-label>E-Mail</mat-label>
            <input matInput [(ngModel)]="semester.honorableJudges[i].email" [disabled]="readonly">
          </mat-form-field>
          <mat-form-field class="grid-column-span-4">
            <mat-label>Adresse</mat-label>
            <input matInput [(ngModel)]="semester.honorableJudges[i].address" [disabled]="readonly">
          </mat-form-field>
        }
      }

      @if (!readonly) {
        <div class="grid-column-span-4 align-center">
          <div>
            <a mat-stroked-button (click)="addHonorableJudge(semester)">
              <mat-icon>add</mat-icon>
              hinzufügen
            </a>
          </div>
        </div>

        <div class="grid-column-span-4 align-right">
          <div>
            <a mat-stroked-button (click)="updateSemester(semester)">
              <mat-icon>save</mat-icon>
              Speichern
            </a>
          </div>
        </div>
      }
    </div>
  }
</ng-template>

<ng-template #corpsListElement let-corps="corps" let-corpsAccount="corpsAccount">
  <div class="corps-list__entry">
    <div class="corps-list__colors">
      <msc-colors [corps]="corps" [vertical]="true"></msc-colors>
    </div>
    <div class="corps-list__name">{{ corps.name }}</div>
    <div class="corps-list__mail">{{ corpsAccount?.email }}
    </div>
    <div class="corps-list__actions">
      @if(!corpsAccount) {
        <button mat-stroked-button title="Addresse hinzufügen" (click)="createCorpsAccount(corps)"><mat-icon>add</mat-icon></button>
      } @else {
        <button mat-stroked-button title="Adresse bearbeiten" (click)="createCorpsAccount(corps, corpsAccount)"><mat-icon>edit</mat-icon></button>
        <button mat-stroked-button title="Passwort zurücksetzen" (click)="resetPassword(corpsAccount)"><mat-icon>cached</mat-icon></button>
        <button mat-stroked-button title="Addresse löschen" color="warn" (click)="deleteCorpsAccount(corpsAccount)"><mat-icon>delete</mat-icon></button>
      }
    </div>
  </div>
</ng-template>
