<h1>Verwaltung</h1>

<div class="container">
  <mat-tab-group>
  <mat-tab label="Semester">
    <p>
      Normal<br>
      <span>
        <a mat-button>Normal</a>&nbsp;
        <a mat-raised-button>raised</a>&nbsp;
        <a mat-flat-button>flat</a>&nbsp;
        <a mat-stroked-button>stroked</a> &nbsp;
      </span>
    </p>
    <p>
      Primary<br>
      <a color="primary" mat-button>Normal</a>&nbsp;
      <a color="primary" mat-raised-button>raised</a>&nbsp;
      <a color="primary" mat-flat-button>flat</a>&nbsp;
      <a color="primary" mat-stroked-button>stroked</a> &nbsp;
    </p>
    <p>
      Accent<br>
      <a color="accent" mat-button>Normal</a>&nbsp;
      <a color="accent" mat-raised-button>raised</a>&nbsp;
      <a color="accent" mat-flat-button>flat</a>&nbsp;
      <a color="accent" mat-stroked-button>stroked</a> &nbsp;
    </p>
    <p>
      Warn<br>
      <a color="warn" mat-button>Normal</a>&nbsp;
      <a color="warn" mat-raised-button>raised</a>&nbsp;
      <a color="warn" mat-flat-button>flat</a>&nbsp;
      <a color="warn" mat-stroked-button>stroked</a> &nbsp;
    </p>
  </mat-tab>
  <mat-tab label="Corps">
    <mat-tab-body>Test</mat-tab-body>
  </mat-tab>
  <mat-tab label="Berichte">
    <mat-tab-body>Test</mat-tab-body>
  </mat-tab>
</mat-tab-group>
</div>
