#dashboard-container.container
  .page-header
    %h1
      = I18n.t(:"dashboard.page_title")
  %h4
    Richtlinien für die Benutzung der Internetseite (laut SC-Beschluß vom 20.07.2009)
  %ul
    %li
      Am Anfang jedes Semesters hat jedes Corps das Passwort für den Zugang zum internen Bereich der SC-Internetseite zu ändern.
    %li
      Am Anfang jedes Semesters hat das im SC präsidierende Corps in die Liste der Veranstaltungen die Termine der oCSC/oSC, der Kneipen und Kommersen aller SC-Corps und die SC-Vertreterveranstaltungen aufzunehmen.
    %li
      Das präsidierende Corps hat am Anfang des Semesters die Termine der oPT online zu stellen.
    %li
      Jedes Corps hat die Kontaktdaten ihrer Consenioren aktuell zu halten.
    %li
      Die Meldungen sind über das Online-Formular unter "Meldewesen" abzugeben.
  %p
    Falls Sie Ihre Anregungen/Ideen dem Verwalter der SC-Internetseite mitteilen möchten, schicken Sie eine E-Mail an iwankoenig@googlemail.com.
