<div class="wrapper">
  <div *ngIf="appState.user && !loading" class="sidebar-wrapper" [class.open]="sidebarOpen">
    <div class="sidebar-handle" (click)="toggleSidebar()">
      @if (sidebarOpen) {
        <mat-icon>chevron_left</mat-icon>
      } @else {
        <mat-icon>chevron_right</mat-icon>
      }
    </div>

    <div class="sidebar">
      <msc-sidebar></msc-sidebar>
    </div>
  </div>
  <div class="content">
    @if (loading) {
      <div class="loading-wrapper">
        <div style="height: 250px;">
          <msc-loading></msc-loading>
        </div>
      </div>
    } @else {
      @if (appState.user) {
        <router-outlet></router-outlet>
      } @else {
        <form class="login-wrapper" [formGroup]="loginForm">
          <div class="login mat-elevation-z5">
            <h1>Login</h1>
            <mat-form-field>
              <mat-label>E-Mail</mat-label>
              <input matInput formControlName="email" type="email">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Passwort</mat-label>
              <input matInput formControlName="password"
                     type="{{loginForm.get('passwordHidden').value ? 'password' : 'text'}}">
              <mat-icon (click)="loginForm.get('passwordHidden').setValue(!loginForm.get('passwordHidden').value)" matSuffix>
                {{ loginForm.get('passwordHidden').value ? 'visibility_off' : 'visibility' }}
              </mat-icon>
            </mat-form-field>

            <div class="grid-2">
              <div></div>
              <div class="align-right">
                <button mat-stroked-button
                        type="submit"
                        (click)="login()">Login
                </button>
              </div>
            </div>
          </div>
        </form>
      }
    }
  </div>
</div>
