@use 'variables' as var;
@use 'sass:color';

.wrapper {

  ::ng-deep {
    table {
      background-color: var.$dark-grey;

      th {
        font-weight: bold;
        text-align: center;
      }

      td:first-child,
      td:nth-child(5) {
        text-align: center;
      }

      td:nth-child(3) {
        font-weight: bold;
      }

      tr.clickable:hover {
        background-color: rgba(var.$grey, 0.1);
      }
    }
  }
}
