.devise-form-footer.ui-corner-bottom
  .row
    .col-xs-7
      .fa.fa-unlock-alt
      - unless controller_name.eql?("sessions")
        = link_to I18n.t(:"authorization.signin"), new_session_path(resource_name)
        %br/
      - if devise_mapping.recoverable? && !controller_name.in?(%w(passwords registrations))
        = link_to I18n.t(:"authorization.forgot_your_password"), new_password_path(resource_name)
        %br/
