<section class='parallax dark' style="background-image: url('/assets/images/site/munich.jpg'); height: 100vh">
  <div>
    <h1 class="plain">
      Münchner Senioren Convent
      <small>
        Eine Verbindung der Corps
      </small>
    </h1>
  </div>
</section>

<!-- History -->
<section>
  <div class="content">
    <div class="align-center" style="max-width: 800px; margin: 0 auto;">
      <h3>
        Geschichte
      </h3>
      <p class="long-text">
        Der Münchner Senioren Convent (MSC) wurde am 23.06.1951 von allen Münchner Corps, unbeschadet ihrer
        Verbandszugehörigkeit (KSCV oder WSC) auf dem Haus der Arminia gegründet.
      </p>
      <p class="long-text">
        Die Aufgaben des MSC bestehen im wesentlichen in der Pflege der Verbundenheit der einzelnen Corps
        untereinander, in der Öffentlichkeit, in der Regelung aller corpsstudenti
        schen Angelegenheiten von Örtlicher Bedeutung (Vertretung der Intressen des MSC bei korporationsstudentischen
        Zusammenschlüssen), in der Behandlung von Streitigkeiten zwischen den Corps oder zwischen einzelnen
        Corpsstudenten als letzte Instanz und in der Überwachung der Befolgung und Aufrechterhaltung des Comments.
      </p>
      <p class="long-text">
        Dem MSC können nur solche Verbindungen angehören, die:
      </p>
      <ul>
        <li>
          pflichtschlagend sind
        </li>
        <li>
          das Toleranzprinzip in ihrer Konstitution verankert haben
        </li>
        <li>
          ihre Mitglieder zur Achtung vor fremder und zur Wahrung eigener Ehre erziehen
        </li>
        <li>
          sich und ihre Mitglieder bedingungslos unter die unbedingte Jurisdiktion des MSC zu stellen
        </li>
        <li>
          als Wahrzeichen einer selbstständigen Einheit einen Namen und bestimmte Abzeichen führen
        </li>
      </ul>
    </div>
    <div class='grid-2 grid-mobile-1'>
      <div>
        <h3>
          KSCV
        </h3>
        <p class="long-text">
          Der Kösener Senioren-Convents-Verband (KSCV) ist die Vereinigung der Senioren-Convente (SC, Zusammenschluss
          der örtlichen Corps) an deutschsprachigen Universitäten. Vorläu
          fer war der SC zu Jena, der sich 1821 als Gegenwicht zu den Burschenschaften bildete. 1848 wurde dann der
          Kösener Senioren-Convents Verband, KSCV, in Bad Kösen, im heutige
          n Sachsen Anhalt, gegründet. Alle Mitgliedscorps bekennen sich zum Mensurfechten und zum Toleranzprinzip. Der
          KSCV ist farbentragend, das Fechten ist Mitgliedschaftsvoraussetzung.
        </p>
        <p class="long-text">
          Der KSCV ist an 34 Hochschulorten in Deutschland und Österreich mit 102 Verbindungen vertreten. Dazu kommen
          noch zwei Corps in den USA. Die Gesamtzahl der Mitglieder, inkl
          usive der Alten Herren, beträgt ca. 21000. Im KSCV sind die jungen Corpsstudenten, also die Studierenden,
          zusammengeschlossen. Die Alten Herren sind im VAC, dem Verband Alter Corpsstudenten, organisiert.
        </p>
        <p class="long-text">
          Jedes Jahr zu Pfingsten treffen sich die Kösener Corpsstudenten in Bad Kösen, dem Ort der Verbandsgründung,
          zum Kösener Kongress. Mit dem WSC ist der KSCV mit einem Kartellvertrag verbunden.
        </p>
      </div>
      <div>
        <h3>
          WSC
        </h3>
        <p class="long-text">
          1863 schlossen sich die an den Polytechniken, den späteren Technischen Hochschulen Zürich, Karlsruhe,
          Stuttgart und Hannover, gebildeten Corps nach dem Vorbild des KSCV zu
          einem Verband zusammen. Dieser Verband nannte sich nach seinem zukünftigen Tagungsort Weinheim an der
          Bergstrasse, dem geographischen Mittelpunkt der Gründerorte, Weinhei
          mer Senioren-Convent (WSC). Diesem schlossen sich in den folgenden Jahrzehnten die Corps aller reichsdeutschen
          Technischen Hochschulen und Bergakademien an. Der Senioren-Convent der Corps der TH München trat erst 1912 dem
          WSC bei.
        </p>
        <p class="long-text">
          Als im Dritten Reich der Druck der Nationalsozialisten auf die studentischen Korporationen immer stärker
          wurde, schloss sich 1934 der Rudolstädter SC, ursprünglich die Ver
          einigung der an den tierärztlichen Hochschulen gebildeten Corps, die sich dann auch auf die
          wirtschaftswissenschaftlichen Hochschulen ausdehnte, dem WSC an. Dies konnte je
          doch die Selbstauflösung des nun größeren Weinheimer Verbandes 1935 nicht verhindern. Manche Corps
          verwandelten sich in NS-Kameradschaften, der neuen Form studentischer Gr
          uppenbildung, viele Altherrenschaften nahmen nach der Auflösung ihres aktiven Corps eine Kameradschaft an,
          andere lösten sich auf. Dem Nationalsozialistischen Deutschen Studentenbund war daran gelegen, die Corpshäuser
          und das Vermögen der Altherrenschaften für sich nutzen zu können.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Hymn -->
<section class="dark align-center">
  <div class="content">
    <h1>
      Das Münchner SC-Lied (MSC-Lied)
    </h1>
    <p class="align-center">
      Melodie von <i>Heidelberg du Jugendbronnen</i>
    </p>
    <div class='row-fluid'>
      <div class='col-sm-6 col-md-3'>
        Nein, ihr könnt uns nicht begreifen,
        <br>
        denen nie ein Burschenband
        <br>
        als ein immergrüner Reifen
        <br>
        um die junge Brust sich wand.
        <br>
        Die ihr auf dem Pfad der Tugend
        <br>
        durch das harte Dasein trabt
        <br>
        und darüber eurer Jugend
        <br>
        holde Lust verloren habt.
        <br>
        <br>
      </div>
      <div class='col-sm-6 col-md-3'>
        Nach des Tages Qual und Hitze
        <br>
        flüchten wir zum Alten Haus
        <br>
        und in Band und bunter Mütze
        <br>
        treiben wir die Sorgen aus.
        <br>
        Und die Burschen, die das singen,
        <br>
        das ist unser Fleisch und Blut,
        <br>
        daß die Seelen sich verschlingen
        <br>
        in der heißen Liebesglut.
        <br>
        <br>
      </div>
      <div class='col-sm-6 col-md-3'>
        Wer sich legt mit heilen Wangen,
        <br>
        der kann sanft und sicher ruhn,
        <br>
        aber keiner soll verlangen,
        <br>
        daß wir just dasselbe tun.
        <br>
        Wenn wir schmieden unsre Waffen,
        <br>
        und es schwingt sie jeder Mann,
        <br>
        also laßt uns doch zufrieden,
        <br>
        denn es geht euch gar nichts an.
        <br>
        <br>
      </div>
      <div class='col-sm-6 col-md-3'>
        Wenn wir einst vollendet haben
        <br>
        blitzt am Grab uns blanke Wehr,
        <br>
        und auch euch wird man begraben,
        <br>
        doch kein Bursch senkt euch den Speer.
        <br>
        Laßt uns schwärmen, laßt uns singen,
        <br>
        bis das Lied zu Ende geht,
        <br>
        aber redet nicht von Dingen,
        <br>
        die ihr einmal nicht versteht.
        <br>
        <br>
      </div>
      <div class='clearfix'></div>
    </div>
  </div>
</section>

<!-- The Corps -->
<section>
  <div class="content">
    <h1>
      Die Corps
    </h1>
    <div class='corps-list'>
      @for (corps of corpsList; track corps) {
        <msc-coat-of-arms
          class="coat-of-arms"
          [corps]="corps"
          [clickable]="true"
          [showName]="true">
        </msc-coat-of-arms>
      }
    </div>
  </div>
</section>

<!-- Contact -->
<section *ngIf="currentSemester" class="dark">
  <div class='content container kontakt'>
    <h1>
      Kontakt
    </h1>
    <div class="grid-2 grid-gap-20-50">
      <div>
        <h4>Die Chargierten des MSC</h4>

        <p *ngIf="currentSemester.senior">
          SC-Senior: {{ currentSemester.senior.name }}
          @if (currentSemester.senior.phone) {
            <br>
            Tel: {{ currentSemester.senior.phone }}
          }
          @if (currentSemester.senior.email) {
            <br>
            E-Mail: {{ currentSemester.senior.email }}
          }
        </p>

        <p *ngIf="currentSemester.conSenior">
          SC-Consenior: {{ currentSemester.conSenior.name }}
          @if (currentSemester.conSenior.phone) {
            <br>
            Tel: {{ currentSemester.conSenior.phone }}
          }
          @if (currentSemester.conSenior.email) {
            <br>
            E-Mail: {{ currentSemester.conSenior.email }}
          }
        </p>

        <p *ngIf="currentSemester.subSenior">
          SC-Sekretär: {{ currentSemester.subSenior.name }}
          @if (currentSemester.subSenior.phone) {
            <br>
            Tel: {{ currentSemester.subSenior.phone }}
          }
          @if (currentSemester.subSenior.email) {
            <br>
            E-Mail: {{ currentSemester.subSenior.email }}
          }
        </p>

        <p *ngIf="currentSemester.banker">
          SC-Kassenwart: {{ currentSemester.banker.name }}
          @if (currentSemester.banker.phone) {
            <br>
            Tel: {{ currentSemester.banker.phone }}
          }
          @if (currentSemester.banker.email) {
            <br>
            E-Mail: {{ currentSemester.banker.email }}
          }
        </p>
      </div>
      <div>
        <h4>Bankverbindung:</h4>
        <p class="long-text">
          IBAN: {{ currentSemester.banking.iban }}
          <br>
          BIC: {{ currentSemester.banking.bic }}
          <br>
          Bank: {{ currentSemester.banking.name }}
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Imprint -->
<section>
  <div class="content">
    <h1>
      Impressum
    </h1>
    <h3>
      Haftungsausschluss
    </h3>
    <p class="long-text">
      Die Informationen auf unseren Websites stellt der Münchner Senioren Convent ohne jegliche Zusicherung oder
      Gewährleistung jedweder Art, sei sie ausdrücklich oder stillschw
      eigend, zur Verfügung. Ihr Inhalt ist unverbindlich und für die Informationen wird keinerlei Gewähr
      übernommen. Wir übernehmen auch keinerlei Haftung für Schäden, die durc
      h die Nutzung der angebotenen Informationen verursacht werden. Ausgeschlossen sind auch alle stillschweigenden
      Gewährleistungen betreffend die Handelsfähigkeit, die Eignun
      g für bestimmte Zwecke oder den Nichtverstoß gegen Gesetze und Patente. Auch wenn wir davon ausgehen, dass die
      von uns gegebenen Informationen zutreffend sind, können sie dennoch Fehler oder Ungenauigkeiten enthalten.
      Auf unseren Websites befinden sich Links zu anderen Seiten im Internet. Wir betonen ausdrücklich, dass wir
      keinen Einfluß auf die Gestaltung und den Inhalt der Seiten habe
      n, auf die verlinkt wird. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber
      verantwortlich. Wir übernehmen daher keinerlei Gewähr oder Haftung für d
      en Inhalt, die Aktualität, Korrektheit, Vollständigkeit oder Qualität der dort bereitgestellten Informationen.
      Deshalb distanzieren wir uns hiermit ausdrücklich von allen Inhalten dieser Seiten. Diese Erklärung gilt für
      alle auf unseren Seiten enthaltenen Links zu externen Seiten und alle Inhalte dieser Seiten, zu denen diese
      Links führen.
      Die Eingabe von personenbezogenen Daten des Benutzers erfolgt freiwillig und ist keine Voraussetzung zur
      Nutzung unserer angebotenen Tele- oder Mediendienste. Wir weisen gemäß § 33 BDSG darauf hin, dass vom Nutzer
      zu unserer weiteren Verwendung bestimmte Daten gespeichert und verarbeitet werden.
    </p>
    <h3>
      Urheberrecht
    </h3>
    <p class="long-text">
      Copyright 2003-{{ getCurrentYear() }} Münchner Senioren Convent. Alle Rechte vorbehalten. Alle Texte,
      Bilder, Graphiken, Ton-,
      Video- und Animationsdateien sowie ihre Arrangements unterliegen dem Urheberrecht und anderen Gesetzen zum
      Schutz geistigen Eigentums.
      Sie dürfen weder für Handelszwecke oder zur Weitergabe kopiert, noch verändert und auf anderen Web-Sites
      verwendet werden. Einige Seiten enthalten auch Bilder, die dem Urheberrecht derjenigen unterliegen, die
      diese zur Verfügung gestellt haben.
    </p>
    <br>
    <h3>
      Verantwortlich im Sinne des Pressegesetzes
    </h3>
    <p class="align-center">
      Münchner Senioren Convent
      <br>
      derzeit präsidierend:
      <br>
      Corps {{ getCorps(currentSemester?.corpsId)?.name }}
    </p>
    <p class="align-center">
      Programmierung:
      <br>
      <a href="https://ninesun.de/" target="_blank">NineSun Developments OÜ</a>
    </p>
  </div>
</section>
